{% assign color = color | default: '#212121' %}
{% assign arrow_color = arrow_color | default: color %}

<div class="breadcrumbs flex items-center font-bebasNeueExpanded text-[13.91px]">
    <a href="/" class="font-bebasNeueExpanded text-[13.91px] text-primary">Home</a>
    <span class="px-5">
        <svg width="5" height="9" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.99967 11.6665L6.33301 6.99984C4.64074 5.17739 3.69195 4.15562 1.99967 2.33317" stroke="white" stroke-width="2" stroke-linecap="square"/>
        </svg>
    </span>
    {% case template.name %}
        {% when 'page' %}
            {% if template.suffix == 'athlete' or template.suffix contains 'athlete' %}
            <a href="/pages/animal-athletes" class="font-bebasNeueExpanded text-[13.91px] text-primary">animal athletes</a>
            <span class="px-5">
                <svg width="5" height="9" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.99967 11.6665L6.33301 6.99984C4.64074 5.17739 3.69195 4.15562 1.99967 2.33317" stroke="white" stroke-width="2" stroke-linecap="square"/>
                </svg>
            </span>
            {% endif %}
            <span class="font-bebasNeueExpanded text-[13.91px] text-primary" style="opacity:0.6">{{page.title | downcase | downcase}}</span>
        {% when 'collection' %}
            <span class="font-bebasNeueExpanded text-[13.91px] text-primary" style="opacity:0.6">{{collection.title | downcase | downcase}}</span>
        {% when 'search' %}
            <span class="font-bebasNeueExpanded text-[13.91px] text-primary" style="opacity:0.6">Search Results</span>
        {% when 'product' %}
            {% if product.collections[0].url != blank %}
                {% assign product_collection = product.collections[0] %}
                {% for tag in product.tags %}
                    {% if tag contains "Category:" %}
                        {% assign category = tag | replace: 'Category:', '' | strip | handleize %}
                        {% for collection in product.collections %}
                            {% assign handle = collection.title | handleize %}
                            {% if product.handle contains 'stack' %}
                                {% if collection.handle contains 'stack' %}
                                    {% assign product_collection = collection %}
                                    {% break %}
                                {% endif %}
                            {% else %}
                            {% if handle == category  %}
                                {% assign product_collection = collection %}
                                {% break %}
                            {% endif %}
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <a href="{{product_collection.url}}" class="font-bebasNeueExpanded text-[13.91px] text-primary" style="color: {{color}}">{{product_collection.title | downcase}}</a>
                <span class="px-5">
                    <svg width="5" height="9" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.99967 11.6665L6.33301 6.99984C4.64074 5.17739 3.69195 4.15562 1.99967 2.33317" stroke="white" stroke-width="2" stroke-linecap="square"/>
                    </svg>
                </span>
            {% endif %}

            <span class="font-bebasNeueExpanded text-[13.91px] text-primary flex" style="color:{{color}};opacity:0.6">{{product.title | downcase}}</span>
        {% when 'blog' %}
            <span class="font-bebasNeueExpanded text-[13.91px] text-primary" style="opacity:0.6">{{ blog.title | escape }}</span>
        {% when 'article' %}
            <a href="{{ blog.url }}" class="font-bebasNeueExpanded text-[13.91px] text-primary mr-4" style="color: {{color}}">{{ blog.title | escape | downcase }}</a>
            <span class="mx-5 flex">
                <svg width="5" height="9" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="white" stroke-linecap="square" stroke-width="2" d="M1.99967 11.6665L6.33301 6.99984C4.64074 5.17739 3.69195 4.15562 1.99967 2.33317"/>
                </svg>
            </span>
            <span class="font-bebasNeueExpanded text-[13.91px] text-primary" style="opacity:0.6">{{ article.title | escape | downcase }}</span>
    {% endcase %}
</div>

<style>
    .breadcrumbs path{
        stroke: {{arrow_color}}
    }
    .breadcrumbs span,
    .breadcrumbs a{
        text-transform: capitalize !important;
        color: {{color}} !important;
    }
    .breadcrumbs a {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 2px;
    }
</style>
