{% assign variant_id = product.selected_or_first_available_variant.id %}
<div x-data="addToCart({{ variant_id }})" class="flex {% if layout == 'vertical' %}flex-col p-2{% else %}flex-row items-start p-4 lg:p-6{% endif %} gap-4 lg:gap-6 bg-white border border-black w-full h-full">
    <a href="{{ product.url }}" class="block flex-shrink-0 {% if layout == 'vertical' %}w-full aspect-square{% else %}w-[120px] h-[120px]{% endif %}">
      <img :src="image" src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}" class="w-full h-full object-contain">
    </a>
    <div class="flex flex-col gap-3 justify-between flex-1 {% if layout == 'vertical' %}p-4{% endif %}">
      <div class="flex flex-col gap-3 items-start">
        {% if show_rating != false %}
        <div class="flex items-center gap-1">
          {% render 'reivew-stars', rating: product.metafields.yotpo.reviews_average %}
          <span class="text-sm font-bebasNeue">{{ product.metafields.yotpo.reviews_average }}</span>
          <span class="text-sm font-bebasNeue">({{ product.metafields.yotpo.reviews_count }})</span>
        </div>
        {% endif %}
        <a href="{{ product.url }}" class="text-[20px] font-anton !no-underline text-left">{{ product.title }}</a>
        {% if show_subtitle != false %}
        <span class="text-base opacity-70 font-bebasNeue text-left">{{ product.metafields.custom.subtitle }}</span>
        {% endif %}
      </div>
      <form @submit="addToCart($event)" class="flex flex-col gap-5">
        <input x-model="selectedVariantId" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <input name="quantity" type="hidden" value="1">
        <input name="selling_plan" type="hidden" value="">
        {% if product.variants.size > 1 %}
        <div class="flex flex-col gap-2">
          <select x-ref="variant" @change="changeVariant()" name="variant" id="variant" class="bg-gray-100 !border !border-black h-12 max-w-full w-full">
          {% for variant in product.variants %}
            {% if variant.available %}
              {% unless variant.metafields.custom.hide_variant %}
                <option value="{{ variant.id }}">{{ variant.title }}</option>
              {% endunless %}
            {% endif %}
          {% endfor %}
          </select>
        </div>
        {% endif %}
        <button type="submit" class="px-5 py-3 flex justify-between items-center text-base bg-black !text-white transition-all duration-300 hover:bg-[#f5d500] group">
          <span class="font-anton text-base uppercase !text-white group-hover:!text-black">Add to Cart</span>
          <span x-text="price" class="text-lg font-bebasNeue font-bold !text-white group-hover:!text-black">{{ product.price | money }}</span>
        </button>
        <a href="{{ product.url }}" class="font-bebasNeue text-center underline">See Detail</a>

        <script x-ref="productObject" id="productObject" type="json+ld">
          {
            "id": {{ product.id }},
            "variants": {
              {% for variant in product.variants %}
                "{{ variant.id }}": {
                  "id": {{ variant.id }},
                  "title": "{{ variant.title }}",
                  "price": {{ variant.price | money | json }},
                  {% if variant.featured_image != blank %}
                    "image": {{ variant.featured_image.src | image_url | json }},
                  {% else %}
                    "image": "{{ product.images[0] | image_url }}",
                  {% endif %}
                  "available": {{ variant.available }}
                }{% unless forloop.last %},{% endunless %}
              {% endfor %}
            }
          }
        </script>
      </form>
    </div>
  </div>
