<div class="py-[64px] lg:py-[96px] lg:px-[59px] pt-[36px] lg:pt-[64px] !pb-0">
    <div class="text-with-image relative bg-black h-auto">
        <!-- Decorative image and overlay -->
        <div aria-hidden="true" class="absolute inset-0 overflow-hidden hidden lg:block">
            <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w" sizes="100vw"
                src="{{ section.settings.image | img_url: '1500x' }}" loading="lazy"
                class="relative sm:-right-40 lg:right-0 h-[43%] sm:h-full w-full md:w-auto ml-auto object-cover"
                alt="{{ section.settings.image.alt | escape }}" width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}">
            <div class="absolute inset-0 background-gradient"></div>
        </div>
        <div aria-hidden="true" class="absolute inset-0 overflow-hidden lg:hidden">
            <img src="{{section.settings.image_mob | img_url: 'master'}}" class="relative h-[43%] sm:h-full w-full md:w-auto ml-auto object-cover" alt="{{ section.settings.image_mob.alt | escape }}">
            <div class="absolute inset-0 background-gradient"></div>
        </div>
        
        <div class="relative max-w-3xl my-auto mr-auto pt-60 pb-16 sm:py-16 lg:py-24 px-4 xsm:px-6 sm:px-16 lg:pl-[65px] flex flex-col items-left text-left">
            <h2 class="heading-text font-compacta text-[5.3rem] md:text-[7.12rem] font-bold tracking-tight text-white mb-4">
                {{ section.settings.heading | newline_to_br}}
            </h2>
            <div class="text-with-image__subheading text-lg lg:text-xl font-light text-white max-w-[23rem] md:max-w-[31rem] lg:max-w-[38rem] mb-8">
                {{ section.settings.subheading }}
            </div>
            <div class="flex flex-col mb-9">
                {% for link in linklists[section.settings.menu].links %}
                <div class="overflow-hidden w-fit">
                    <a class="relative -left-[2.3rem] text-base xsm:text-base sm:text-lg font-semibold text-white w-fit flex mb-3 hover:left-[1.7rem] transition-all duration-500 whitespace-nowrap"
                        href="{{ link.url }}">
                        <img class="mr-4" src="{{ 'arrow-right.svg' | asset_url }}" alt="" width="16" height="16">
                        <span class="text-white">{{link.title | upcase}}</span>
                        <img class="ml-4" src="{{ 'arrow-right.svg' | asset_url }}" alt="" width="16" height="16">
                    </a>
                </div>
                {%- endfor %}
            </div>
            {% if section.settings.button_label != blank %}
            <a href="{{ section.settings.button_link }}" class="max-w-[380px]">
                <img src="{{section.settings.button_label | img_url: 'master'}}" class="" alt="{{ section.settings.button_label | escape }}">
            </a>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .heading-text p{
        color: #fff;
    }
    .heading-text p strong{
        color: #FEDD00;
    }
    .text-with-image__subheading a {
        color: inherit;
        text-decoration: underline;
    }
    .text-with-image__subheading p {
        margin: 0 0 6px;
    }
    .text-with-image__subheading p:last-child {
        margin: 0;
    }
</style>

{% schema %}
{
    "name": "Featured vendor",
    "tag": "section",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        },
        {
            "type": "image_picker",
            "id": "image_mob",
            "label": "Select mobile Image"
        },
        {
            "type": "richtext",
            "id": "heading",
            "default": "<p>Title Goes Here!</p>",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Sub Heading"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Section Links"
        },
        {
            "type": "image_picker",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "presets": [
        {
            "name": "Featured vendor"
        }
    ]
}
{% endschema %}
