{% style %}
    footer-block.footer {
    {% if section.settings.bg_image_desktop != blank %}
        background-image: url('{{ section.settings.bg_image_desktop | img_url: "master" }}');
    {% endif %}
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    {% if section.settings.bg_color != blank %}background-color: {{ section.settings.bg_color }};{% endif %}
    }

    @media (max-width: 768px) {
        footer-block.footer {
            background-image: none;
        }
    }
{% endstyle %}

<footer-block class="footer block relative bg-[#1C1C1C] !py-10 lg:!py-[66px] px-6 lg:px-[56px] overflow-hidden">
    <div class="flex justify-between items-start footer-top w-full">
        <div class="footer-wrapper lg:flex footer-wrapper flex-col w-full">
            <div class="flex justify-center md:justify-between items-center w-full">
                {% if section.settings.logo != blank %}
                    <a href="/"
                       class="w-[160px] {% if section.settings.logo_mobile != blank %}hidden md:block{% endif %}">
                        <img
                            src="{{ section.settings.logo | img_url: "master" }}"
                            alt="{{ section.settings.logo.alt }}"
                            loading="lazy"
                            fetchpriority="low"
                            decoding="async"
                        />
                    </a>

                    {% if section.settings.logo_mobile != blank %}
                        <a href="/" class="md:hidden">
                            <img
                                src="{{ section.settings.logo_mobile | img_url: "master" }}"
                                alt="{{ section.settings.logo_mobile.alt }}"
                                loading="lazy"
                                fetchpriority="low"
                                decoding="async"
                            />
                        </a>
                    {% endif %}
                {% endif %}
                <div class="hidden md:block">
                    {% render 'social-links' %}
                </div>
            </div>
            <div class="hidden md:block h-[1px] my-12 bg-white w-full"></div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:!flex mt-10 lg:mt-0 justify-between footer-menu w-full">
                {% for link in linklists[section.settings.menu].links %}
                    {% if link.links != blank %}
                        <div class="border-0 {% unless forloop.last %}{% endunless %} lg:border-0">
                            <h3 class="footer-link-title text-center md:pointer-events-none md:cursor-text lg:text-left lg:!flex font-anton tracking-[0.01em] border-b border-white lg:border-0 md:border-white md:mx-10 lg:mx-0 pb-3 relative text-xl text-white uppercase flex justify-center lg:justify-between items-center">{{ link.title }}
                                <span class="absolute right-0 md:hidden">{% render 'icon-chevron-bottom' %}</span></h3>
                            <ul role="list" class="lg:!flex flex-col gap-1.5 mt-6 lg:mt-2 mb-0 pb-8 lg:pb-0 space-y-3 hidden uppercase font-bebasNeue">
                                {% for childlink in link.links %}
                                    <li class="text-center lg:text-left">
                                        <a href="{{ childlink.url }}"
                                           class="cursor-pointer text-md text-white transition duration-500 hover:!text-gray-300 leading-[25.6px] lg:leading-[180%]">{% if childlink.url contains "https://privacy.animalpak.com/opt-out" %}
                                                <span class="inline-block h-[12px] mr-[4px]">{% render 'optout-icon-blue' %}</span>{% endif %}{{ childlink.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="hidden md:block h-[1px] my-12 bg-white w-full"></div>
            <div class="w-full flex flex-col md:flex-row justify-between items-center gap-4 mt-8 md:mt-0">
                <span class="text-white font-bebasNeue text-center md:text-left" style="font-size:12px;">{{ section.settings.copyright | newline_to_br }}</span>
                <div class="flex flex-col items-center md:items-end gap-3">
                    <div class="flex flex-wrap justify-center md:justify-end gap-2">
                        {% for link in linklists[section.settings.menu_secondary].links %}
                            <a href="{{ link.url }}" class="text-[13.91px] text-white leading-[22.26px]">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                    {% render 'payments-icons' %}
                </div>
            </div>
        </div>
    </div>
</footer-block>

<style>
    .footer-link-title.active span {
        transform: rotate(180deg);
    }
    footer-block .footer-menu h3 {
        font-family: 'Anton', sans-serif;
    }
    footer-block .footer-menu a {
        font-family: 'BebasNeuePro-ExpandedRegular', sans-serif;
        font-weight: 400;
    }
    @media (max-width: 767px) {
        .footer-link-title {
            margin-top: 10px;
        }
        .footer-link-title span svg {
            filter: brightness(0) invert(1);
        }
    }
</style>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main footer menu"
    },
    {
      "type": "link_list",
      "id": "menu_secondary",
      "default": "main-menu",
      "label": "Secondary footer menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Logo mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image_desktop",
      "label": "Background image desktop"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright text",
      "default": "<p>Copyright © 2022 Universal Nutrition. All rights reserved.</p>"
    }
  ]
}
{% endschema %}
