{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'bundle.section-homepage-video-section.css' | asset_url | stylesheet_tag }}


<div class="video-section homepage-video-section our-story-block relative {% if section.settings.pretitle != blank or section.settings.text != blank %} pt-16 {% endif %} px-0 lg:px-6 bg-cover bg-center" style="{% unless section.settings.bg_image != blank %}background: {{section.settings.bg}};{% endunless %}{% unless section.settings.bg_image == blank %}background-image: url('{{ section.settings.bg_image | image_url: width: 1920 }}');{% endunless %}">
  {% if section.settings.pretitle != blank or section.settings.text != blank %}
  <div class="homepage-video-section__header max-w-[880px] m-auto mb-[40px] lg:mb-[50px] px-6 lg:px-0">
    <div class="text-center h3 homepage-video-section__title mb-3">
        {{section.settings.pretitle}}
    </div>
    <div class="m-auto max-w-[1104px] text-center h6 homepage-video-section__copy !normal-case">
        {{section.settings.text}}
        <div>
        {% if section.settings.button_label != blank %}
            <a href='{{ section.settings.button_link }}' class='btn-black-white mt-12 !hidden lg:!inline-block'>
                {{ section.settings.button_label }}
            </a>
        {% endif %}
        </div>
    </div>
  </div>
  {% endif %}  

  <div class="homepage-video-section__video-container max-w-full lg:max-w-[1000px] mx-auto">
  <noscript>
    <div class="video-section__media homepage-video-section__media">
      {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
    >
      <a href="{{ section.settings.video_url }}" class="video-section__poster homepage-video-section__poster media media--transparent media--landscape{% if section.settings.cover_image == blank %} video-section__placeholder{% endif %}">
        {%- if section.settings.cover_image != blank -%}
          <img
            srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w"
            src="{{ section.settings.cover_image | img_url: '1920x' }}"
            sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
            alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
            loading="lazy"
            width="{{ section.settings.cover_image.width }}"
            height="{{ section.settings.cover_image.height }}"
          >
        {%- else -%}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
      </a>
    </div>
  </noscript>
  {% if section.settings.cover_image != blank %}
  <deferred-media class="video-section__media homepage-video-section__media deferred-media no-js-hidden" data-media-id="{{ section.settings.video_url.id }}"
    {% if section.settings.cover_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.cover_image.aspect_ratio | times: 100 }}%;"{% endif %}
  >
    <button
      id="Deferred-Poster-Modal-{{ section.settings.video_url.id }}"
      class="video-section__poster homepage-video-section__poster media deferred-media__poster media--landscape"
      type="button"
    >
      {%- if section.settings.cover_image != blank -%}
        <img
          srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | img_url: '3840x' }} 3840w,{%- endif -%}
            {{ section.settings.cover_image | img_url: 'master' }} {{ section.settings.cover_image.width }}w"
          src="{{ section.settings.cover_image | img_url: '1920x' }}"
          sizes="{% if section.settings.full_width %}100vw{% else %}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{% endif %}"
          alt="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
          loading="lazy"
          width="{{ section.settings.cover_image.width }}"
          height="{{ section.settings.cover_image.height }}"
        >
      {%- else -%}
        {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      {%- endif -%}
      <span class="deferred-media__poster-button motion-reduce !bg-transparent !border-none">
      {%- if section.settings.video_url.type == 'youtube' -%}
        <svg width="68" height="47" viewBox="0 0 68 47" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.428348 10.7584C0.76944 5.42321 5.05112 1.21249 10.3855 0.859386C27.7795 -0.291987 40.5398 -0.28068 57.6182 0.858651C62.9249 1.21267 67.1956 5.38669 67.5543 10.6931C68.1782 19.9244 68.1256 27.3719 67.5307 36.5412C67.1726 42.0598 62.6407 46.3629 57.1139 46.5577C38.8811 47.2002 29.5283 47.1064 10.929 46.5107C5.36007 46.3323 0.776568 42.0034 0.433331 36.4422C-0.12168 27.4497 -0.165038 20.0398 0.428348 10.7584Z" fill="#EA3323"/>
          <path d="M45 24L27 34.3923L27 13.6077L45 24Z" fill="white"/>
        </svg>

      {% else %}
        {%- render 'icon-play' -%}
      {%- endif -%}
      </span>
    </button>
    <template>
      <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url | split: "v=" | last }}" width="100%" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>

      {% comment %} {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
      {%- else -%}
        <iframe src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
      {%- endif -%} {% endcomment %}
    </template>
  </deferred-media>
  {% else %}
  <deferred-media class="video-section__media deferred-media">
    <button class="deferred-media__poster-button" type="button">
      {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      <span class="deferred-media__poster-button motion-reduce !bg-transparent !border-none">
        {%- if section.settings.video_url.type == 'youtube' -%}
          <svg width="68" height="47" viewBox="0 0 68 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.428348 10.7584C0.76944 5.42321 5.05112 1.21249 10.3855 0.859386C27.7795 -0.291987 40.5398 -0.28068 57.6182 0.858651C62.9249 1.21267 67.1956 5.38669 67.5543 10.6931C68.1782 19.9244 68.1256 27.3719 67.5307 36.5412C67.1726 42.0598 62.6407 46.3629 57.1139 46.5577C38.8811 47.2002 29.5283 47.1064 10.929 46.5107C5.36007 46.3323 0.776568 42.0034 0.433331 36.4422C-0.12168 27.4497 -0.165038 20.0398 0.428348 10.7584Z" fill="#EA3323"/>
            <path d="M45 24L27 34.3923L27 13.6077L45 24Z" fill="white"/>
          </svg>
        {% else %}
          {%- render 'icon-play' -%}
        {%- endif -%}
      </span>
    </button>
    <template>
      <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url | split: "v=" | last }}" width="100%" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
    </template>
  </deferred-media>

  {% endif %}

  </div>
</div>

<style>
  .js-youtube {
    aspect-ratio: 16/9;
    border-radius: 20px;
  }
 .bg-cover {
  background-position: top !important;
  background-size: contain;
  }

  @media (max-width: 1109px) {
    .bg-cover {
      background-size: 250%;
      }
  }

  .homepage-video-section__title {
    font-family: Anton;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
  }

  .homepage-video-section__copy {
    font-family: Familjen Grotesk, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
  }

  .mb-3 {
    margin-bottom: 2.5rem;
  }

  @media (min-width: 1110px) {
    .lg\:mb-\[50px\] {
      margin-top: 50px;
    }
  }

</style>


{% schema %}
{
  "name": "Homepage Video",
  "tag": "section",
  "settings": [
    {
        "type": "text",
        "id": "pretitle",
        "label": "t:sections.video.settings.heading.label",
        "default": "Winning Isn't What We Do. Its What We Are."
    },
    {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "For more than three decades Animal has evolved from just bodybuilding supplement brand, to an ethos for living."
    },
    {
        "type": "text",
        "id": "button_label",
        "default": "Learn More",
        "label": "Button Label"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background color",
      "default": "#FEDD00"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Homepage Video Section"
    }
  ]
}
  {% endschema %}
