<div class="section-video-image " id="1">
  <div class="block-heading">
    <div class="block-top">
      <h2 class="text-primary heading font-bold">
        {{ section.settings.custom_heading | replace: '.', '<span class="text-accessible">.</span>' }}
      </h2>
      <div class="sub_title">
        {{ section.settings.sub_title }}
      </div>
      <div class="quote-content slider-nav">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'video' -%}
              <div class="quote-items">
                {{ block.settings.quote }}
              </div>
            {%- when 'slide' -%}
              <div class="quote-items">{{ block.settings.quote }}</div>
          {% endcase %}
        {% endfor %}
      </div>
      <ul>
        <li class="prev ">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M19 12L5 12M5 12L11 6M5 12L11 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
        <li class="next">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M5 12H19M19 12L13 18M19 12L13 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </li>
      </ul>
    </div>
    <div class="block-video-image" id="section-{{ section.id }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'video' -%}
            <div class=" block-items" id="2">
              <div class="block-image-wapper">
                <div class="video-content">
                  <script type="text/javascript">
                    jQuery('.buttonVideo-{{forloop.index}}').click(function () {
                      $('video').get(0).pause();
                      $('video').get(1).pause();
                      $('video').get(2).pause();
                      $('.btn-video-play').find('i').removeClass('fa-pause').addClass('fa-play');
                      $('.video-content').removeClass('video-running');

                      if (jQuery(this).find('i').hasClass('fa-play')) {
                        jQuery(this).find('i').removeClass('fa-play').addClass('fa-pause');
                        jQuery(this).parents('.video-content').addClass('video-running');
                        jQuery('#video-{{ block.id }}').get(0).play();
                      } else {
                        jQuery('#video-{{ block.id }}').get(0).pause();
                        jQuery(this).find('i').removeClass('fa-pause').addClass('fa-play');
                        jQuery(this).parents('.video-content').removeClass('video-running');
                      }
                    });
                  </script>
                  <div class="video-wapper">
                    <video id="video-{{ block.id }}" poster="{{ block.settings.image | img_url: 'master' }}" controls>
                      <source class="mp4" type="video/mp4" src="{{ block.settings.video_mp4 }}">
                    </video>
                    <div class="btn-video-play buttonVideo-{{forloop.index}}">
                      <i class="fa fa-play">
                        <span class="play-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="88"
                            height="88"
                            viewBox="0 0 88 88"
                            fill="none"
                          >
                            <path d="M43.8947 0.894531C35.3589 0.894531 27.0148 3.4257 19.9175 8.16795C12.8202 12.9102 7.28855 19.6505 4.02203 27.5366C0.755516 35.4227 -0.0991542 44.1003 1.5661 52.4721C3.23136 60.8439 7.34175 68.5339 13.3775 74.5697C19.4132 80.6054 27.1032 84.7158 35.475 86.381C43.8469 88.0463 52.5245 87.1916 60.4105 83.9251C68.2966 80.6586 75.0369 75.1269 79.7792 68.0297C84.5214 60.9324 87.0526 52.5882 87.0526 44.0524C87.0526 38.3848 85.9363 32.7728 83.7674 27.5366C81.5985 22.3005 78.4195 17.5428 74.412 13.5352C70.4044 9.5276 65.6467 6.34862 60.4105 4.17973C55.1744 2.01084 49.5623 0.894531 43.8947 0.894531ZM35.2631 63.4735V24.6314L61.1579 44.0524L35.2631 63.4735Z" fill="#666666"/>
                          </svg>
                        </span>
                        <span class="pause-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            fill="#000000"
                            version="1.1"
                            id="Capa_1"
                            width="100px"
                            height="100px"
                            viewBox="0 0 45.812 45.812"
                            xml:space="preserve"
                            <g
                          >
                            <g><g><path d="M39.104,6.708c-8.946-8.943-23.449-8.946-32.395,0c-8.946,8.944-8.946,23.447,0,32.394     c8.944,8.946,23.449,8.946,32.395,0C48.047,30.156,48.047,15.653,39.104,6.708z M20.051,31.704c0,1.459-1.183,2.64-2.641,2.64     s-2.64-1.181-2.64-2.64V14.108c0-1.457,1.182-2.64,2.64-2.64s2.641,1.183,2.641,2.64V31.704z M31.041,31.704     c0,1.459-1.183,2.64-2.64,2.64s-2.64-1.181-2.64-2.64V14.108c0-1.457,1.183-2.64,2.64-2.64s2.64,1.183,2.64,2.64V31.704z"/></g></g></g>
                          </svg>
                        </span>
                      </i>
                    </div>
                  </div>
                </div>
                <div class="content-info">
                  <div class="quote-content mobiles">
                    <span class="over-quote">{{ block.settings.quote }}</span>
                  </div>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="82" height="17" viewBox="0 0 82 17" fill="none">
                      <path d="M15.0228 7.32749L12.1336 9.84899L12.9991 13.603C13.0449 13.7993 13.0318 14.0047 12.9615 14.1936C12.8912 14.3824 12.7668 14.5464 12.6039 14.6649C12.4409 14.7835 12.2466 14.8513 12.0452 14.86C11.8439 14.8687 11.6445 14.8179 11.4719 14.7139L8.19763 12.728L4.93044 14.7139C4.75784 14.8179 4.5584 14.8687 4.35706 14.86C4.15573 14.8513 3.96143 14.7835 3.79845 14.6649C3.63548 14.5464 3.51106 14.3824 3.44076 14.1936C3.37046 14.0047 3.35739 13.7993 3.40319 13.603L4.26739 9.85283L1.37753 7.32749C1.22469 7.19566 1.11416 7.02164 1.05982 6.82725C1.00548 6.63286 1.00974 6.42676 1.07207 6.23478C1.13439 6.0428 1.25201 5.8735 1.41018 5.7481C1.56834 5.6227 1.76001 5.5468 1.96114 5.52989L5.7703 5.19997L7.25719 1.65347C7.33484 1.46738 7.46581 1.30842 7.63361 1.19661C7.80142 1.08481 7.99855 1.02515 8.20019 1.02515C8.40183 1.02515 8.59897 1.08481 8.76677 1.19661C8.93457 1.30842 9.06554 1.46738 9.14319 1.65347L10.6346 5.19997L14.4424 5.52989C14.6436 5.5468 14.8352 5.6227 14.9934 5.7481C15.1516 5.8735 15.2692 6.0428 15.3315 6.23478C15.3938 6.42676 15.3981 6.63286 15.3438 6.82725C15.2894 7.02164 15.1789 7.19566 15.0261 7.32749H15.0228Z" fill="#F0622D"/>
                      <path d="M31.4227 7.32749L28.5335 9.84899L29.399 13.603C29.4448 13.7993 29.4317 14.0047 29.3614 14.1936C29.2911 14.3824 29.1667 14.5464 29.0038 14.6649C28.8408 14.7835 28.6465 14.8513 28.4451 14.86C28.2438 14.8687 28.0444 14.8179 27.8718 14.7139L24.5975 12.728L21.3303 14.7139C21.1577 14.8179 20.9583 14.8687 20.757 14.86C20.5556 14.8513 20.3613 14.7835 20.1984 14.6649C20.0354 14.5464 19.911 14.3824 19.8407 14.1936C19.7704 14.0047 19.7573 13.7993 19.8031 13.603L20.6673 9.85283L17.7774 7.32749C17.6246 7.19566 17.5141 7.02164 17.4597 6.82725C17.4054 6.63286 17.4096 6.42676 17.472 6.23478C17.5343 6.0428 17.6519 5.8735 17.8101 5.7481C17.9682 5.6227 18.1599 5.5468 18.361 5.52989L22.1702 5.19997L23.6571 1.65347C23.7347 1.46738 23.8657 1.30842 24.0335 1.19661C24.2013 1.08481 24.3985 1.02515 24.6001 1.02515C24.8017 1.02515 24.9989 1.08481 25.1667 1.19661C25.3345 1.30842 25.4654 1.46738 25.5431 1.65347L27.0345 5.19997L30.8423 5.52989C31.0435 5.5468 31.2351 5.6227 31.3933 5.7481C31.5515 5.8735 31.6691 6.0428 31.7314 6.23478C31.7937 6.42676 31.798 6.63286 31.7437 6.82725C31.6893 7.02164 31.5788 7.19566 31.426 7.32749H31.4227Z" fill="#F0622D"/>
                      <path d="M47.8227 7.32749L44.9334 9.84899L45.7989 13.603C45.8447 13.7993 45.8316 14.0047 45.7613 14.1936C45.691 14.3824 45.5666 14.5464 45.4037 14.6649C45.2407 14.7835 45.0464 14.8513 44.845 14.86C44.6437 14.8687 44.4443 14.8179 44.2717 14.7139L40.9974 12.728L37.7302 14.7139C37.5576 14.8179 37.3582 14.8687 37.1569 14.86C36.9555 14.8513 36.7612 14.7835 36.5983 14.6649C36.4353 14.5464 36.3109 14.3824 36.2406 14.1936C36.1703 14.0047 36.1572 13.7993 36.203 13.603L37.0672 9.85283L34.1773 7.32749C34.0245 7.19566 33.914 7.02164 33.8596 6.82725C33.8053 6.63286 33.8095 6.42676 33.8719 6.23478C33.9342 6.0428 34.0518 5.8735 34.21 5.7481C34.3681 5.6227 34.5598 5.5468 34.7609 5.52989L38.5701 5.19997L40.057 1.65347C40.1346 1.46738 40.2656 1.30842 40.4334 1.19661C40.6012 1.08481 40.7984 1.02515 41 1.02515C41.2016 1.02515 41.3988 1.08481 41.5666 1.19661C41.7344 1.30842 41.8653 1.46738 41.943 1.65347L43.4344 5.19997L47.2422 5.52989C47.4434 5.5468 47.635 5.6227 47.7932 5.7481C47.9514 5.8735 48.069 6.0428 48.1313 6.23478C48.1937 6.42676 48.1979 6.63286 48.1436 6.82725C48.0892 7.02164 47.9787 7.19566 47.8259 7.32749H47.8227Z" fill="#F0622D"/>
                      <path d="M64.223 7.32749L61.3338 9.84899L62.1993 13.603C62.2451 13.7993 62.232 14.0047 62.1617 14.1936C62.0914 14.3824 61.967 14.5464 61.804 14.6649C61.6411 14.7835 61.4468 14.8513 61.2454 14.86C61.0441 14.8687 60.8447 14.8179 60.6721 14.7139L57.3978 12.728L54.1306 14.7139C53.958 14.8179 53.7586 14.8687 53.5573 14.86C53.3559 14.8513 53.1616 14.7835 52.9986 14.6649C52.8357 14.5464 52.7113 14.3824 52.641 14.1936C52.5707 14.0047 52.5576 13.7993 52.6034 13.603L53.4676 9.85283L50.5777 7.32749C50.4249 7.19566 50.3144 7.02164 50.26 6.82725C50.2057 6.63286 50.2099 6.42676 50.2723 6.23478C50.3346 6.0428 50.4522 5.8735 50.6104 5.7481C50.7685 5.6227 50.9602 5.5468 51.1613 5.52989L54.9705 5.19997L56.4574 1.65347C56.535 1.46738 56.666 1.30842 56.8338 1.19661C57.0016 1.08481 57.1987 1.02515 57.4004 1.02515C57.602 1.02515 57.7992 1.08481 57.967 1.19661C58.1348 1.30842 58.2657 1.46738 58.3434 1.65347L59.8348 5.19997L63.6426 5.52989C63.8438 5.5468 64.0354 5.6227 64.1936 5.7481C64.3518 5.8735 64.4694 6.0428 64.5317 6.23478C64.594 6.42676 64.5983 6.63286 64.544 6.82725C64.4896 7.02164 64.3791 7.19566 64.2262 7.32749H64.223Z" fill="#F0622D"/>
                      <path d="M80.6229 7.32749L77.7337 9.84899L78.5992 13.603C78.645 13.7993 78.6319 14.0047 78.5616 14.1936C78.4913 14.3824 78.3669 14.5464 78.2039 14.6649C78.041 14.7835 77.8467 14.8513 77.6453 14.86C77.444 14.8687 77.2446 14.8179 77.072 14.7139L73.7977 12.728L70.5305 14.7139C70.3579 14.8179 70.1585 14.8687 69.9572 14.86C69.7558 14.8513 69.5615 14.7835 69.3986 14.6649C69.2356 14.5464 69.1112 14.3824 69.0409 14.1936C68.9706 14.0047 68.9575 13.7993 69.0033 13.603L69.8675 9.85283L66.9776 7.32749C66.8248 7.19566 66.7143 7.02164 66.6599 6.82725C66.6056 6.63286 66.6098 6.42676 66.6722 6.23478C66.7345 6.0428 66.8521 5.8735 67.0103 5.7481C67.1684 5.6227 67.3601 5.5468 67.5612 5.52989L71.3704 5.19997L72.8573 1.65347C72.9349 1.46738 73.0659 1.30842 73.2337 1.19661C73.4015 1.08481 73.5986 1.02515 73.8003 1.02515C74.0019 1.02515 74.1991 1.08481 74.3669 1.19661C74.5347 1.30842 74.6656 1.46738 74.7433 1.65347L76.2347 5.19997L80.0425 5.52989C80.2437 5.5468 80.4353 5.6227 80.5935 5.7481C80.7517 5.8735 80.8693 6.0428 80.9316 6.23478C80.9939 6.42676 80.9982 6.63286 80.9439 6.82725C80.8895 7.02164 80.779 7.19566 80.6261 7.32749H80.6229Z" fill="#F0622D"/>
                    </svg>
                  </span>
                </div>
                {% if block.settings.btn != blank %}
                  <a href="{{block.settings.url}}" class="btn-primary">
                    {{ block.settings.btn }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="8" viewBox="0 0 17 8" fill="none">
                      <path d="M12.9 1L16 4M16 4L12.9 7M16 4H0.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </a>
                {% endif %}
              </div>
            </div>
          {%- when 'slide' -%}
            <div class="block-items" id="3">
              <div class="block-image-wapper">
                <div class="image"><img src="{{ block.settings.image | img_url: '1500x' }}"></div>
                <div class="content-info">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="82" height="17" viewBox="0 0 82 17" fill="none">
                      <path d="M15.0228 7.32749L12.1336 9.84899L12.9991 13.603C13.0449 13.7993 13.0318 14.0047 12.9615 14.1936C12.8912 14.3824 12.7668 14.5464 12.6039 14.6649C12.4409 14.7835 12.2466 14.8513 12.0452 14.86C11.8439 14.8687 11.6445 14.8179 11.4719 14.7139L8.19763 12.728L4.93044 14.7139C4.75784 14.8179 4.5584 14.8687 4.35706 14.86C4.15573 14.8513 3.96143 14.7835 3.79845 14.6649C3.63548 14.5464 3.51106 14.3824 3.44076 14.1936C3.37046 14.0047 3.35739 13.7993 3.40319 13.603L4.26739 9.85283L1.37753 7.32749C1.22469 7.19566 1.11416 7.02164 1.05982 6.82725C1.00548 6.63286 1.00974 6.42676 1.07207 6.23478C1.13439 6.0428 1.25201 5.8735 1.41018 5.7481C1.56834 5.6227 1.76001 5.5468 1.96114 5.52989L5.7703 5.19997L7.25719 1.65347C7.33484 1.46738 7.46581 1.30842 7.63361 1.19661C7.80142 1.08481 7.99855 1.02515 8.20019 1.02515C8.40183 1.02515 8.59897 1.08481 8.76677 1.19661C8.93457 1.30842 9.06554 1.46738 9.14319 1.65347L10.6346 5.19997L14.4424 5.52989C14.6436 5.5468 14.8352 5.6227 14.9934 5.7481C15.1516 5.8735 15.2692 6.0428 15.3315 6.23478C15.3938 6.42676 15.3981 6.63286 15.3438 6.82725C15.2894 7.02164 15.1789 7.19566 15.0261 7.32749H15.0228Z" fill="#F0622D"/>
                      <path d="M31.4227 7.32749L28.5335 9.84899L29.399 13.603C29.4448 13.7993 29.4317 14.0047 29.3614 14.1936C29.2911 14.3824 29.1667 14.5464 29.0038 14.6649C28.8408 14.7835 28.6465 14.8513 28.4451 14.86C28.2438 14.8687 28.0444 14.8179 27.8718 14.7139L24.5975 12.728L21.3303 14.7139C21.1577 14.8179 20.9583 14.8687 20.757 14.86C20.5556 14.8513 20.3613 14.7835 20.1984 14.6649C20.0354 14.5464 19.911 14.3824 19.8407 14.1936C19.7704 14.0047 19.7573 13.7993 19.8031 13.603L20.6673 9.85283L17.7774 7.32749C17.6246 7.19566 17.5141 7.02164 17.4597 6.82725C17.4054 6.63286 17.4096 6.42676 17.472 6.23478C17.5343 6.0428 17.6519 5.8735 17.8101 5.7481C17.9682 5.6227 18.1599 5.5468 18.361 5.52989L22.1702 5.19997L23.6571 1.65347C23.7347 1.46738 23.8657 1.30842 24.0335 1.19661C24.2013 1.08481 24.3985 1.02515 24.6001 1.02515C24.8017 1.02515 24.9989 1.08481 25.1667 1.19661C25.3345 1.30842 25.4654 1.46738 25.5431 1.65347L27.0345 5.19997L30.8423 5.52989C31.0435 5.5468 31.2351 5.6227 31.3933 5.7481C31.5515 5.8735 31.6691 6.0428 31.7314 6.23478C31.7937 6.42676 31.798 6.63286 31.7437 6.82725C31.6893 7.02164 31.5788 7.19566 31.426 7.32749H31.4227Z" fill="#F0622D"/>
                      <path d="M47.8227 7.32749L44.9334 9.84899L45.7989 13.603C45.8447 13.7993 45.8316 14.0047 45.7613 14.1936C45.691 14.3824 45.5666 14.5464 45.4037 14.6649C45.2407 14.7835 45.0464 14.8513 44.845 14.86C44.6437 14.8687 44.4443 14.8179 44.2717 14.7139L40.9974 12.728L37.7302 14.7139C37.5576 14.8179 37.3582 14.8687 37.1569 14.86C36.9555 14.8513 36.7612 14.7835 36.5983 14.6649C36.4353 14.5464 36.3109 14.3824 36.2406 14.1936C36.1703 14.0047 36.1572 13.7993 36.203 13.603L37.0672 9.85283L34.1773 7.32749C34.0245 7.19566 33.914 7.02164 33.8596 6.82725C33.8053 6.63286 33.8095 6.42676 33.8719 6.23478C33.9342 6.0428 34.0518 5.8735 34.21 5.7481C34.3681 5.6227 34.5598 5.5468 34.7609 5.52989L38.5701 5.19997L40.057 1.65347C40.1346 1.46738 40.2656 1.30842 40.4334 1.19661C40.6012 1.08481 40.7984 1.02515 41 1.02515C41.2016 1.02515 41.3988 1.08481 41.5666 1.19661C41.7344 1.30842 41.8653 1.46738 41.943 1.65347L43.4344 5.19997L47.2422 5.52989C47.4434 5.5468 47.635 5.6227 47.7932 5.7481C47.9514 5.8735 48.069 6.0428 48.1313 6.23478C48.1937 6.42676 48.1979 6.63286 48.1436 6.82725C48.0892 7.02164 47.9787 7.19566 47.8259 7.32749H47.8227Z" fill="#F0622D"/>
                      <path d="M64.223 7.32749L61.3338 9.84899L62.1993 13.603C62.2451 13.7993 62.232 14.0047 62.1617 14.1936C62.0914 14.3824 61.967 14.5464 61.804 14.6649C61.6411 14.7835 61.4468 14.8513 61.2454 14.86C61.0441 14.8687 60.8447 14.8179 60.6721 14.7139L57.3978 12.728L54.1306 14.7139C53.958 14.8179 53.7586 14.8687 53.5573 14.86C53.3559 14.8513 53.1616 14.7835 52.9986 14.6649C52.8357 14.5464 52.7113 14.3824 52.641 14.1936C52.5707 14.0047 52.5576 13.7993 52.6034 13.603L53.4676 9.85283L50.5777 7.32749C50.4249 7.19566 50.3144 7.02164 50.26 6.82725C50.2057 6.63286 50.2099 6.42676 50.2723 6.23478C50.3346 6.0428 50.4522 5.8735 50.6104 5.7481C50.7685 5.6227 50.9602 5.5468 51.1613 5.52989L54.9705 5.19997L56.4574 1.65347C56.535 1.46738 56.666 1.30842 56.8338 1.19661C57.0016 1.08481 57.1987 1.02515 57.4004 1.02515C57.602 1.02515 57.7992 1.08481 57.967 1.19661C58.1348 1.30842 58.2657 1.46738 58.3434 1.65347L59.8348 5.19997L63.6426 5.52989C63.8438 5.5468 64.0354 5.6227 64.1936 5.7481C64.3518 5.8735 64.4694 6.0428 64.5317 6.23478C64.594 6.42676 64.5983 6.63286 64.544 6.82725C64.4896 7.02164 64.3791 7.19566 64.2262 7.32749H64.223Z" fill="#F0622D"/>
                      <path d="M80.6229 7.32749L77.7337 9.84899L78.5992 13.603C78.645 13.7993 78.6319 14.0047 78.5616 14.1936C78.4913 14.3824 78.3669 14.5464 78.2039 14.6649C78.041 14.7835 77.8467 14.8513 77.6453 14.86C77.444 14.8687 77.2446 14.8179 77.072 14.7139L73.7977 12.728L70.5305 14.7139C70.3579 14.8179 70.1585 14.8687 69.9572 14.86C69.7558 14.8513 69.5615 14.7835 69.3986 14.6649C69.2356 14.5464 69.1112 14.3824 69.0409 14.1936C68.9706 14.0047 68.9575 13.7993 69.0033 13.603L69.8675 9.85283L66.9776 7.32749C66.8248 7.19566 66.7143 7.02164 66.6599 6.82725C66.6056 6.63286 66.6098 6.42676 66.6722 6.23478C66.7345 6.0428 66.8521 5.8735 67.0103 5.7481C67.1684 5.6227 67.3601 5.5468 67.5612 5.52989L71.3704 5.19997L72.8573 1.65347C72.9349 1.46738 73.0659 1.30842 73.2337 1.19661C73.4015 1.08481 73.5986 1.02515 73.8003 1.02515C74.0019 1.02515 74.1991 1.08481 74.3669 1.19661C74.5347 1.30842 74.6656 1.46738 74.7433 1.65347L76.2347 5.19997L80.0425 5.52989C80.2437 5.5468 80.4353 5.6227 80.5935 5.7481C80.7517 5.8735 80.8693 6.0428 80.9316 6.23478C80.9939 6.42676 80.9982 6.63286 80.9439 6.82725C80.8895 7.02164 80.779 7.19566 80.6261 7.32749H80.6229Z" fill="#F0622D"/>
                    </svg>
                  </span>
                  {% if block.settings.quote != blank %}
                    <div class="mobiles">{{ block.settings.quote }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
<style>
  .section-video-image .block-top ul {
    position: relative;
  }
  .section-video-image .block-top ul li {
    background: #000;
    left: 0;
    right: 0;
    position: relative;
  }

  .slick-arrow.slick-hidden {
    display: none !important;
  }

  .section-video-image {
    background: #fedd00;
    margin-bottom: 0;
    border-radius: 0;
  }

  .block-video-image:after,
  .quote-content:before {
    opacity: 75%;
    mix-blend-mode: multiply;
  }

  .shopify-section-image-video.spaced-section--boxed {
    padding: 0;
  }

  .section-video-image .text-primary {
    font-family: Anton !important;
    font-size: 60px !important;
    line-height: 60px !important;
    color: #000000 !important;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (!window.jQuery) {
      console.warn('jQuery not loaded');
      return;
    }

    $('#section-{{ section.id }}').slick({
      dots: false,
      infinite: true,
      arrows: true,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-nav',
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
      responsive: [
        {
          breakpoint: 1199,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
          },
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          },
        },
      ],
    });
    $('.slider-nav').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '#section-{{ section.id }}',
    });
  });
</script>

{% schema %}
{
  "name": "Custom section Video",
  "tag": "section",
  "class": "shopify-section-image-video spaced-section--boxed",
  "settings": [
    {
      "type": "text",
      "id": "custom_heading",
      "label": "HTML Heading"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "textarea",
      "id": "quote",
      "label": "Quote Content"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Image & Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image desktop"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Content"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image desktop"
        },
        {
          "type": "text",
          "id": "video_mp4",
          "label": "link video mp4"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button text",
          "default": "view all"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom section Video"
    }
  ]
}
{% endschema %}
